
.common {
    /* background-color: #ffffff; */
    border: 2px solid black;
    position: absolute;
}

.header {
    top: 55px;
    left: 5px;
    right: 5px;
    height: 375px;
    z-index: 2;
    border-bottom: solid 1px #555555;
}

.leftmenu {
    top: 435px;
    left: 5px;
    width: 200px;
    height: 1350px;
    z-index: 1;
    padding-top: 1px;
    border-right: solid 1px #555555;
}

.mainbody {
    top: 435px;
    left: 210px;
    right: 5px;
    height: 1351px;
    padding-right: 5px;
}

.footer {
  bottom: 5px;
  left: 5px;
  right: 5px;
  top: 1795px;
  height: 750px;
  padding: 5px;
  text-align: center;
}

.bottom {
  bottom: 5px;
  left: 5px;
  right: 5px;
  top: 2565px;
  height: 570px;
  padding: 5px;
  text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 15px;
    color: gray;
    background-color: rgb(200, 220, 255);
}